<footer class="mt-5"> 
		<div class="container-fluid footer-content">
			<div class="row">
				<div class="col-md-4 text-center text-md-left footer-address">

				</div>
				<div class="col-md-4 text-center text-md-left footer-menus">

				</div>
        <div class="col-md-4 text-center text-md-left footer-social-media">

				</div>
			</div>
		</div>

		<div class="container-fluid footer-copyright">
			<div class="row">

			</div>
		</div>
</footer>
{{ function('wp_footer') }}