{% extends "base.twig" %}

{% block content %}
    <div class="wrapper">
        <div class="container" id="content">
            <div class="row">
                <div class="col-md-12 main-content">
                    <main class="site-main" id="main" role="main">

                        <h1 class="page-title">{{ title }}</h1>
                        {{ content|raw }}

                    </main><!-- #main -->
                </div><!-- main content -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- Wrapper end -->
{% endblock %}
